[Desktop Entry]
Categories=Development;
Comment=Chatbot Client Desktop Application
Exec=/usr/bin/chatbot-client
Icon=chatbot-client
Name=Chatbot Client
Terminal=false
Type=Application
Keywords=chatbot-client;chatgpt;ai;
