[Desktop Entry]
Version=0.1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/chatgpt-electron
Name=ChatGPT
Comment=ChatGPT Unofficial electron client for Desktop
Icon=/usr/local/share/icons/chatgpt-electron.jpg
StartupWMClass=chatgpt-electron-nativefier-9028de

